Django==4.1.7
uWSGI==2.0.21
django_debug_toolbar==3.8.1
python-dotenv==1.0.0
django-split-settings==1.2.0
psycopg2-binary==2.9.5
django-extensions==3.2.1
django-cors-headers==3.14.0
Pillow==9.5.0
sorl-thumbnail==12.9.0
django-tinymce==3.6.1
django-filebrowser==4.0.2
celery==5.2.7
django-celery-results==2.5.0
django-celery-beat==2.5.0
flower==1.2.0
sib-api-v3-sdk==7.6.0